@use "../utils/variables" as v;
@use "../utils/mixins" as m;
:root {
    --font-default: "DM Sans", Arial, Helvetica, sans-serif;
    --font-slab: var(--font-default);
    --modal-duration: 0.8s;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  /* Landing Page */
  
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: url("background.png");
    font-family: var(--font-default);
    font-size: 18px;
    max-width: 1300px;
    margin: 0 auto;
  }
  
  p {
    margin-bottom: 0;
    padding: 0.5vw;
  }
  
  img {
    padding-right: 1rem;
  }
  
  .topnav {
    overflow: hidden;
    margin: 3.5%;
    a {
        float: left;
        display: block;
        color: v.$black;
        text-align: center;
        padding: 12px 12px;
        margin: 5px;
        text-decoration: none;
        font-size: 20px;
        font-family: Roboto, sans-serif;
        @include m.tablet-screen{
          display: none;
        }
    }  
    a:hover {
        background-color: v.$main-color;
        color: v.$white;
        border-radius: 15px;
    }  
    .active {
        background-color: v.$main-color;
        color: v.$white;
        border-radius: 15px;
    }  
    .icon {
        display: none;
        @include m.tablet-screen{
          float: right;
          display: block;
        }
    }
    .responsive{
      @include m.tablet-screen{
        position: relative;
      }
      .icon{
        @include m.tablet-screen{
          position: absolute;
          right: 0;
          top: 0;
        }
        a{
          @include m.tablet-screen{
            float: none;
            display: block;
            text-align: left;
          }
        }
      }
    }
    a.icon{
      @include m.mobile-screen{
        float: right;
        display: block;
        margin-top: -15px;
      }
    }
  }
  .header-logo {
      float: left;
  }
  .main-navbar {
      float: right;
  } 
  
  main {
    font-size: 130%;
    font-weight: bolder;
    color: black;
    padding-top: 0.5vw;
    padding-left: 2vw;
    padding-right: 2vw;
    margin: 1px 20px 15px;
    border-radius: 2rem;
    text-align: justify;
  
  
  }
  
  .modal-btn {
    font-size: 145%;
    background: v.$modal-color;
    display: flex;
    margin: auto;
    padding: 2em;
    color: v.$white;
    padding: 0.75rem 2.5rem;
    border-radius: 1rem;
    cursor: pointer;
  }
  
  .modal-btn:hover {
    background: v.$blue;
  }
  
  .footer {
    margin: 20px;
    padding: 10px;
    font-family: var(--font-slab);
  }
  
  /* Modal form */
  
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 10px;
    right: 13px;
    width: 11px;
    height: 11px;
    border: 3px solid transparent;
    border-bottom-color: v.$main-color;
    border-left-color: v.$main-color;
    transform: rotate(-48deg);
    border-radius: 5px 0 5px 0;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    transform: rotate(135deg);
    top: 13px;
  }
  
  .select-items div,
  .select-selected {
    color: v.$black;
    padding: 11px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    border-radius: 8px;
    height: 48px;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: v.$white;
    top: 89%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover,
  .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
  /* custom select end */
  .text-label {
    font-weight: normal;
    font-size: 16px;
  }
  .hero{
    &-section{
      min-height: 93vh;
      border-radius: 10px;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      overflow: hidden;
      box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
      margin-bottom: 10px;
      & > .btn-signup {
        display: none;
        @include m.pre-tablet-screen{
          display: block;
          margin: 32px auto 10px;
          padding: 12px 35px;
        }
      }
      @include m.pre-tablet-screen{
        display: block;
        box-shadow: unset;
      }
    }
    &-content{
      padding: 51px 67px;
      grid-column: span 4;
      background: v.$dark;
      color: v.$white;
      position: relative;
      text-align: left;
      min-width: 424px;
      @include m.pre-tablet-screen{
        background: v.$white;
        color: v.$black;
        padding: 20px;
      }
      &::after{
        content: "";
        width: 100%;
        height: 100%;
        background: v.$dark;
        position: absolute;
        right: -80px;
        top: 0;
        @include m.pre-tablet-screen{
          content: unset;
        }
      }
      & > *{
        position: relative;
        z-index: 1;
      }
      .btn-signup{
        @include m.pre-tablet-screen{
           display: none;
        }
      }
    }
    &-headline{
      font-size: 5rem;
      font-weight: normal;
      white-space: nowrap;
      @include m.pre-tablet-screen{
        font-size: 4.5rem;
        white-space: normal;
      }
    }
    &-text{
      width: 146%;
      font-weight: normal;
      margin-top: 57px;
      padding: 0;
      @include m.pre-tablet-screen{
        width: unset;
        font-size: 1.5rem;
      }
    }
    &-img{
      grid-column: span 8;
      img{
        width: 100%;
        height: 100%;
        display: block;
        padding: 0;
        object-fit: cover;
        padding-left: 5%;
        @include m.pre-tablet-screen{
          border-radius: 10px;
          margin-top: 40px;
          padding-left: 0;
        }
      }
    }
  }

  .btn-signup {
    outline: none;
    text-transform: capitalize;
    font-size: 1.3rem;
    padding: 15px 23px;
    margin: 0;
    margin-top: 59px;
  }

  .copyrights {
    color: v.$modal-color;
    padding: 0;
    font-size: 1rem;
    margin: 60px 0 30px;
    font-weight: bolder;
    @include m.pre-tablet-screen{
      margin-top: 50px;
      text-align: center;
    }
  }

  footer {
    padding-left: 2vw;
    padding-right: 2vw;
    margin: 0 20px;
  }
  
  @keyframes modalopen {
    from {
      opacity: 0;
      transform: translateY(-150px);
    }
    to {
      opacity: 1;
    }
  }

  @keyframes closeModal{
    from{
      opacity: 1;
      transform: translateY(0);
    }
    to{
      opacity: 0;
      transform: translateY(-150px);
    }
  }